<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>МОНИТОРГ: Профиль организации
    </title>
    <link rel="stylesheet" href="/styles/style.css" inline="inline"/>
  </head>
  <body>
    <div class="page">
      <table style="width: 100%;">
        <tr>
          <td style="width: 130px; padding-right: 20px;"><img src="{{ org.logo_url }}"/></td>
          <td>
            <h1>OOO «{{ org.profile.name }}»</h1>{% if org.profile.url %}
            <p><b>Сайт:</b> {{ org.profile.url }}
            </p>{% endif %}{% if org.profile.email %}
            <p><b>E-mail:</b> {{ org.profile.email }}
            </p>{% endif %}{% if org.profile.phone %}
            <p><b>Телефон:</b> {{ org.profile.phone }}
            </p>{% endif %}
          </td>
        </tr>
      </table>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% if org.authorized %}
      <div><b>Авторизован</b></div>{% endif %}
      <div><b>Открыто процедур:</b> {{ stats.published_procedures_count }}
      </div>
      <div><b>Проведено процедур:</b> {{ stats.completed_procedures_count }}
      </div>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% if org.profile.head_office %}
      <h2>Главный офис</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if org.profile.head_office.legalAddress %}{% with address=org.profile.head_office.legalAddress %}
      <div><b>Юридический адреc</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% if address.schedule_ref %}
      <div><b>График работы</b></div>{% for i in address.schedule_ref %}
      <div>{{i.day}} C {{i.from}} ПО {{i.to}}</div>{% endfor %}{% endif %}{% endwith %}{% endif %}{% if org.profile.head_office.actualAddress %}{% with address=org.profile.head_office.actualAddress %}
      <div><b>Фактический адрес</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% if address.schedule_ref %}
      <div><b>График работы</b></div>{% for i in address.schedule_ref %}
      <div>{{i.day}} C {{i.from}} ПО {{i.to}}</div>{% endfor %}{% endif %}{% endwith %}{% endif %}{% if org.profile.head_office.mailingAddress %}{% with address=org.profile.head_office.mailingAddress %}
      <div><b>Почтовый адрес</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% if address.schedule_ref %}
      <div><b>График работы</b></div>{% for i in address.schedule_ref %}
      <div>{{i.day}} C {{i.from}} ПО {{i.to}}</div>{% endfor %}{% endif %}{% endwith %}{% endif %}{% endif %}
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% if org.profile.branches %}{% for branch in org.profile.branches %}
      <h2>Филиал {{ loop.index }}</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if branch.actualAddress %}{% with address=branch.actualAddress %}
      <div><b>Адрес</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% endwith %}{% endif %}{% endfor %}{% endif %}
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>
      <h2>Общая информация</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>
      <table style="width: 100%;">
        <tr>
          <td><b>ИИН</b> {{ org.inn }}
          </td>
          <td><b>КПП</b> {{ org.profile.kpp }}
          </td>
          <td><b>ОГРН</b> {{ org.profile.ogrn }}
          </td>
        </tr>
      </table>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>
      <p>{{ org.profile.info }}</p>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% if okdp or okpd %}
      <h2>Продукты и услуги</h2>
      <div><b>Всего:</b> {{ counter }}
      </div>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% for code in okdp %}
      <div>{{loop.index}}. {{ code._id }} {{ code.text }}</div>{% endfor %}{% for code in okpd %}
      <div>{{loop.index}}. {{ code._id }} {{ code.text }}</div>{% endfor %}{% endif %}
      <div style="page-break-after: always"></div>
      <h2>Процедуры</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if procedure_list %}
      <table class="table table_smart">
        <tr>
          <th class="table__cell">Название</th>
          <th class="table__cell" style="width: 30%">Код</th>
          <th class="table__cell">Дата создания</th>
          <th class="table__cell">Датa завершения</th>
        </tr>{% for procedure in procedure_list %}
        <tr>
          <td class="table__cell">{{ procedure.data.title }}</td>{% if procedure.data.okdp is defined %}
          <td class="table__cell">{{ procedure.data.okdp.code }} {{ procedure.data.okdp.text }}</td>{% elif procedure.data.okpd is defined %}
          <td class="table__cell">{{ procedure.data.okpd.code }} {{ procedure.data.okpd.text }}</td>{% else %}
          <td class="table__cell"></td>{% endif %}
          <td class="table__cell">{% if procedure.published_at %}{{ procedure.published_at|localize }}{% else %}{{ procedure.created_at|localize }}{% endif %}</td>
          <td class="table__cell">{% if procedure.data.completion_date is defined %}{{ procedure.data.completion_date|localize }}{% endif %}</td>
        </tr>{% endfor %}
      </table>{% else %}<b>Нет процедур</b>{% endif %}
      <div style="page-break-after: always"></div>
      <h2>Контакты</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>
      <table class="table table_smart">{% for contact in contact_list %}
        <tr>
          <td class="table__cell" style="width: 100px; padding-right: 20px;"><img src="{{ contact.logo_url }}"/></td>
          <td class="table__cell">
            <h2>{{ contact.user.profile.lastname }} {{ contact.user.profile.firstname }} {{ contact.user.profile.middlename }}</h2>
            <table class="spacer" style="width:100%">
              <tr>
                <td height="5" style="font-size:5px;line-height:5px;">&#xA0;</td>
              </tr>
            </table>{% if contact.department or contact.appointment %}
            <p>{% if contact.department %}{{ contact.department }}{% if contact.appointment %}, {% endif %}{% endif %} {{ contact.appointment }}</p>{% endif %}{% if contact.email %}
            <p><b>E-mail:</b> {{ contact.email }}
            </p>{% endif %}{% if contact.phone %}
            <p><b>Телефон:</b> {{ contact.phone }} {% if contact.additionalPhone %} <small>(доб. {{ contact.additionalPhone }})</small>{% endif %}
            </p>{% endif %}
          </td>
        </tr>{% endfor %}
      </table>
      <div style="page-break-after: always"></div>
      <h2>Аккредитация</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if accredited_list %}
      <table class="table table_smart">
        <tr>
          <th class="table__cell">Компания</th>
          <th class="table__cell">Датa аккредитации</th>
        </tr>{% for accredited in accredited_list %}
        <tr>{% if accredited.company is defined %}
          <td class="table__cell">{{ accredited.company.profile.name }}</td>{% else %}
          <td class="table__cell">{{ accredited.user.profile.lastname }} {{ accredited.user.profile.firstname }} {{ accredited.user.profile.middlename }}</td>{% endif %}
          <td class="table__cell">{% if accredited.accred_at %}{{ accredited.accred_at|localize }}{% else %} - {% endif %}</td>
        </tr>{% endfor %}
      </table>{% else %}<b>Активных аккредитаций нет</b>{% endif %}
    </div>
  </body>
</html>