<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>МОНИТОРГ: Профиль пользователя
    </title>
    <link rel="stylesheet" href="/styles/style.css" inline="inline"/>
  </head>
  <body>
    <div class="page">
      <table style="width: 100%;">
        <tr>
          <td style="width: 130px; padding-right: 20px;"><img src="{{ user.logo_url }}"/></td>
          <td>
            <h1>{{ user.profile.lastname }} {{ user.profile.firstname }} {{ user.profile.middlename }}</h1>{% if user.profile.url %}
            <p><b>Сайт:</b> {{ user.profile.url }}
            </p>{% endif %}{% if user.profile.email %}
            <p><b>E-mail:</b> {{ user.profile.email }}
            </p>{% endif %}{% if user.profile.phone %}
            <p><b>Телефон:</b> {{ user.profile.phone }}
            </p>{% endif %}
          </td>
        </tr>
      </table>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>
      <div><b>Открыто процедур:</b> {{ stats.published_procedures_count }}
      </div>
      <div><b>Проведено процедур:</b> {{ stats.completed_procedures_count }}
      </div>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>
      <h2>Общая информация</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>
      <p>{{ user.profile.info }}</p>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if user.profile.legalAddress or user.profile.actualAddress or user.profile.mailingAddress %}
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if user.profile.legalAddress %}{% with address=user.profile.legalAddress %}
      <div><b>Юридический адреc</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% endwith %}{% endif %}{% if user.profile.actualAddress %}{% with address=user.profile.actualAddress %}
      <div><b>Фактический адрес</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% endwith %}{% endif %}{% if user.profile.mailingAddress %}{% with address=user.profile.mailingAddress %}
      <div><b>Почтовый адрес</b></div>
      <div>{% if address.country %}{{ address.country }}, {% endif %} {% if address.region %}{{ address.region }}, {% endif %} {% if address.settlement %}{{ address.settlement }}, {% endif %} {% if address.postcode %}{{ address.postcode }}, {% endif %} {% if address.address %}{{ address.address }}, {% endif %}</div>{% endwith %}{% endif %}
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% endif %}{% if user.info %}
      <h2>Общая информация</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>
      <p>{{ user.info }}</p>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
        </tr>
      </table>{% endif %}
      <div style="page-break-after: always"></div>
      <h2>Процедуры</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if procedure_list %}
      <table class="table table_smart">
        <tr>
          <th class="table__cell">Название</th>
          <th class="table__cell" style="width: 30%">Код</th>
          <th class="table__cell">Дата создания</th>
          <th class="table__cell">Датa завершения</th>
        </tr>{% for procedure in procedure_list %}
        <tr>
          <td class="table__cell">{{ procedure.data.title }}</td>{% if procedure.data.okdp is defined %}
          <td class="table__cell">{{ procedure.data.okdp.code }} {{ procedure.data.okdp.text }}</td>{% elif procedure.data.okpd is defined %}
          <td class="table__cell">{{ procedure.data.okpd.code }} {{ procedure.data.okpd.text }}</td>{% else %}
          <td class="table__cell"></td>{% endif %}
          <td class="table__cell">{% if procedure.published_at %}{{ procedure.published_at|localize }}{% else %}{{ procedure.created_at|localize }}{% endif %}</td>
          <td class="table__cell">{% if procedure.data.completion_date is defined %}{{ procedure.data.completion_date|localize }}{% endif %}</td>
        </tr>{% endfor %}
      </table>{% else %}<b>Нет процедур</b>{% endif %}
      <div style="page-break-after: always"></div>
      <h2>Аккредитация</h2>
      <table class="spacer" style="width:100%">
        <tr>
          <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
        </tr>
      </table>{% if accredited_list %}
      <table class="table table_smart">
        <tr>
          <th class="table__cell">Компания</th>
          <th class="table__cell">Датa аккредитации</th>
        </tr>{% for accredited in accredited_list %}
        <tr>{% if accredited.company is defined %}
          <td class="table__cell">{{ accredited.company.profile.name }}</td>{% else %}
          <td class="table__cell">{{ accredited.user.profile.lastname }} {{ accredited.user.profile.firstname }} {{ accredited.user.profile.middlename }}</td>{% endif %}
          <td class="table__cell">{% if accredited.accred_at %}{{ accredited.accred_at|localize }}{% else %} - {% endif %}</td>
        </tr>{% endfor %}
      </table>{% else %}<b>Активных аккредитаций нет</b>{% endif %}
    </div>
  </body>
</html>