<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>МОНИТОРГ: Сообщение
    </title>
    <link rel="stylesheet" href="/styles/style.css" inline="inline"/>
  </head>
  <body>
    <div class="page">
      <div class="content">
        <table>
          <tr>
            <td width="100%">
              <h2 class="bold">| Тема: {{ procedure.data.title }}</h2>
            </td>
          </tr>
          <tr>
            <td width="100%">
              <h2 class="bold">| От: {{ procedure.owner.profile.firstname }} {{ procedure.owner.profile.lastname }}</h2>
            </td>
          </tr>
          <tr>
            <td width="100%">
              <hr width="100%"/>
            </td>
          </tr>
          <tr>
            <td width="100%">Сообщение:<br/>{{ procedure.data.text }}</td>
          </tr>
        </table>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>