<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>МОНИТОРГ: Завершенная торговая процедура
    </title>
    <link rel="stylesheet" href="/styles/style.css" inline="inline"/>
  </head>
  <body>
    <div class="page">
      <div class="content">
        <table>
          <tr>
            <td width="100%">
              <table class="_autoWidth">
                <tr>
                  <td>
                    <h2 class="bold">{{ procedure.data.title }}</h2>
                  </td>
                  <td>
                    <table class="spacer" style="width:10px">
                      <tr>
                        <td height="8" style="font-size:8px;line-height:8px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>{% if procedure.completed_at %}
                  <td style="vertical-align: middle;">
                    <div class="badge badge_green">
                      <table>
                        <tr>
                          <td>
                            <table class="spacer" style="width:5px">
                              <tr>
                                <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                              </tr>
                            </table>
                          </td>
                          <td><img src="/images/icon_check.png" style="width: 16px; height: 16px"/></td>
                          <td>
                            <table class="spacer" style="width:3px">
                              <tr>
                                <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                              </tr>
                            </table>
                          </td>
                          <td>Завершена</td>
                          <td>
                            <table class="spacer" style="width:10px">
                              <tr>
                                <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>{% else %}
                  <td style="vertical-align: middle;"></td>{% endif %}
                </tr>
              </table>
            </td>
            <td rowspan="2">
              <table>
                <tr>
                  <td class="textXs">Создана</td>
                  <td>
                    <table class="spacer" style="width:16px">
                      <tr>
                        <td height="8" style="font-size:8px;line-height:8px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                  <td class="textXs">{% if procedure.completed_at %}Завершена{% endif %}</td>
                </tr>
                <tr>
                  <td>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="8" style="font-size:8px;line-height:8px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textNowrap">{% if procedure.published_at %}{{ procedure.published_at|localize }}{% else %}{{ procedure.created_at|localize }}{% endif %}</div>
                  </td>
                  <td>
                    <table class="spacer" style="width:16px">
                      <tr>
                        <td height="8" style="font-size:8px;line-height:8px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="8" style="font-size:8px;line-height:8px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textNowrap">{% if procedure.completed_at %}{{ procedure.completed_at|localize }}{% endif %}</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                </tr>
              </table>{% if procedure.data.okpd %}ОКПД2 {{ procedure.data.okpd }} {{ procedure.data.okpd_text }} {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                </tr>
              </table>{% if procedure.data.company %}{{ procedure.company_profile.forma_text }} &laquo;{{ procedure.company_profile.profile.name }}&raquo;{% endif %}
              {% if procedure.data.individual %}{{ procedure.owner_profile.lastname }} {{ procedure.owner_profile.firstname }}{% endif %}
            </td>
          </tr>
        </table>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>{% set company_type = [] %}
        {% if procedure.data.manufacturer %}{% do company_type.append('Производитель') %}{% endif %}
        {% if procedure.data.representative %}{% do company_type.append('Представитель') %}{% endif %}
        {% if procedure.data.intermediary %}{% do company_type.append('Посредник') %}{% endif %}
        {% set contractor_type = [] %}
        {% if procedure.data.company %}{% do contractor_type.append('Организации') %}{% endif %}
        {% if procedure.data.individual %}{% do contractor_type.append('Частные лица') %}{% endif %}
        {% set contractor_status = [] %}
        {% if procedure.data.verified %}{% do contractor_status.append('Авторизованные') %}{% endif %}
        {% if procedure.data.accredited %}{% do contractor_status.append('Аккредитованные') %}{% endif %}
        <table>
          <tr>
            <td>
              <table class="_autoWidth">
                <tr>
                  <td colspan="2" style="border-bottom: 1px solid #b6c5c8;">
                    <h3 class="bold">Участники</h3>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textXs">Статус контрагента</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{{ company_type|join(', <br />') }}
                  </td>
                  <td style="width: 160px">
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textXs">Организационная форма</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{{ contractor_type|join(', <br />') }}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">Квалификация</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{{ contractor_status|join(', <br />') }}
                  </td>
                  <td style="width: 160px">
                    <div class="textXs">Состав участников</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.mode == 'open' %}Открытая процедура{% else %}Закрытая процедура{% endif %}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">Страна происхождения</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.country_of_origin %}{{ procedure.data.country_of_origin }}{% else %}-{% endif %}
                  </td>
                  <td></td>
                </tr>
              </table>
            </td>
            <td>
              <table class="_autoWidth">
                <tr>
                  <td style="border-bottom: 1px solid #b6c5c8;">
                    <h3 class="bold">Цена</h3>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textXs">Условия оплаты</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.condition_of_payment %}{{ procedure.data.condition_of_payment }}{% else %}Фактические{% endif %}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">Базис цены</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.incoterms %}
                    Инкотермс {{ procedure.data.incoterms }}
                    {% elif procedure.data.delivery_address %}
                    С доставкой <br />
                    {{ procedure.data.delivery_address }}
                    {% else %}
                    Без доставки
                    {% endif %}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">Срок действия предложения</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.validity_period_date %}
                    {{ procedure.data.validity_period_date|localize }}
                    {% elif procedure.data.validity_period_days %}
                    {{ procedure.data.validity_period_days }} {{ procedure.data.validity_period_days|pluralize(['день', 'дня', 'дней']) }}
                    {% else %}
                    Без срока
                    {% endif %}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">НДС</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.vat and not procedure.data.no_vat %}
                    {{ procedure.data.vat }} %
                    {% else %}
                    Не облагается
                    {% endif %}
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table class="_autoWidth">
                <tr>
                  <td style="border-bottom: 1px solid #b6c5c8;">
                    <h3 class="bold">Заявка</h3>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width: 160px">
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>
                    <div class="textXs">Сроки поставки</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{% if procedure.data.delivery_date %}
                    {{ procedure.data.delivery_date|localize }}
                    {% else %}
                    Фактические
                    {% endif %}
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
                      </tr>
                    </table>
                  </td>
                </tr>{% set acquisition = [] %}
                {% if procedure.data.full_set %}{% do acquisition.append('Только комплектная поставка') %}{% endif %}
                {% if procedure.data.analog %}{% do acquisition.append('Разрешено предложение аналогов') %}{% endif %}
                {% if procedure.data.changing_number %}{% do acquisition.append('Разрешена замена количества') %}{% endif %}
                <tr>
                  <td style="width: 160px">
                    <div class="textXs">Комплектация</div>
                    <table class="spacer" style="width:100%">
                      <tr>
                        <td height="4" style="font-size:4px;line-height:4px;">&#xA0;</td>
                      </tr>
                    </table>{{ acquisition|join(', <br />') }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>{% if procedure.supervisor_notes %}
        <table class="spacer" style="width:100%">
          <tr>
            <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
          </tr>
        </table>
        <h3 class="bold">Комментарии</h3>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th></th>
            <table class="spacer" style="width:10px">
              <tr>
                <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
              </tr>
            </table>
          </tr>{% for note in procedure.supervisor_notes %}
          <tr>
            <td>
              <div class="textSm"><b>{{ note.authors_full_name }}:&nbsp;</b></div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textSm"><span>{{ note.comment }}</span></div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="10" style="font-size:10px;line-height:10px;">&#xA0;</td>
                </tr>
              </table>
            </td>
          </tr>{% endfor %}
        </table>{% endif %}
        <table class="spacer" style="width:100%">
          <tr>
            <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
          </tr>
        </table>
        <h3 class="bold">Лоты</h3>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">№</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Наименование</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Описание</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell" style="width: 50px">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Кол-во</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Ед.</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell" style="width: 100px">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Дата поставки</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>{% for lot in procedure.data.lots %}
            <tr>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ loop.index }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ lot.name }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ lot.specifications }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ lot.amount }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ lot.unit }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if lot.delivery_date %}{{ lot.delivery_date|localize }}{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
            </tr>{% endfor %}
          </tr>
        </table>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
          </tr>
        </table>
        <h3 class="bold">Состав участников</h3>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Участник процедуры</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Отправлен запрос</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Доставлен запрос</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Отправлен ответ</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Результат</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>{% for log_entry in report.participant_list %}
            <tr>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.contractor_name }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.sent_at %}{{ log_entry.sent_at|localize }}{% else %}-{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.received_at %}{{ log_entry.received_at|localize }}{% else %}-{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.responded_at and log_entry.status != "ignored" %}{{ log_entry.responded_at|localize }}{% else %}-{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.status == &quot;responded&quot; %}
                <div class="textGreen">Ответ предоставлен</div>{% elif log_entry.status == &quot;ignored&quot; %}
                <div class="textGrey">Ответ не предоставлен</div>{% elif log_entry.status == &quot;rejected&quot; %}
                <div class="textGrey">Отказ от участия без комментария</div>{% elif log_entry.status == &quot;rejected_commented&quot; %}
                <div class="textRed">Отказ от участия с комментарием</div>{% else %}
                <div class="textGrey">-</div>{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
            </tr>{% endfor %}
          </tr>
        </table>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
          </tr>
        </table>{% if report.participant_log %}
        <h3 class="bold">Уведомления</h3>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
        <table class="table _autoWidth">
          <tr>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Участник процедуры</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Дата и время</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Результат</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>{% for log_entry in report.participant_log %}
            <tr>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.name }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.datetime|localize }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.status == &quot;ignored&quot; %}
                <div class="textRed">Проигнорировал</div>{% elif log_entry.status == &quot;participated&quot; %}
                <div class="textGreen">Присоединился к участникам</div>{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
            </tr>{% endfor %}
          </tr>
        </table>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="20" style="font-size:20px;line-height:20px;">&#xA0;</td>
          </tr>
        </table>{% endif %}
        <h3 class="bold">Ответы участников</h3>
        <table class="spacer" style="width:100%">
          <tr>
            <td height="16" style="font-size:16px;line-height:16px;">&#xA0;</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Участник процедуры</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Лот</div>
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs textNowrap">Кол-во</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Предложено</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Ед. изм.</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs textNowrap">Цена за ед.</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Всего</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Дата</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:20px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:100%">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
              <div class="textXs">Место поставки</div>
            </th>
            <th class="table__cell">
              <table class="spacer" style="width:10px">
                <tr>
                  <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                </tr>
              </table>
            </th>{% for log_entry in report.response_table %}
            <tr>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.contractor_name }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.lot_request_name }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.lot_request_amount }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.lot_response_amount }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{{ log_entry.lot_unit }}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
                <div class="textNowrap">{% if log_entry.lot_response_price %}{{ log_entry.lot_response_price }} {{ procedure.data.currency }}{% else %}-{% endif %}</div>
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
                <div class="textNowrap">{{ log_entry.lot_response_price_total }} {{ procedure.data.currency }}</div>
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.lot_response_delivery_date %}{{ log_entry.lot_response_delivery_date|localize }}{% else %}-{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
              <td class="table__cell">
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>{% if log_entry.delivery_address %}{{ log_entry.delivery_address }}{% endif %}
                <table class="spacer" style="width:100%">
                  <tr>
                    <td height="3" style="font-size:3px;line-height:3px;">&#xA0;</td>
                  </tr>
                </table>
              </td>
              <td class="table__cell"></td>
            </tr>{% endfor %}
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>