<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Платёжные данные для верификации
    </title>
    <link rel="stylesheet" href="/styles/style.css" inline="inline"/>
  </head>
  <body>
    <div class="page">
      <h4 class="bold">ВАЖНО: Для идентификации платежей и оперативного зачисления денежных средств на баланс вашего лицевого счета, пожалуйста, верно заполняйте назначение платежа в соответствующей графе платежного поручения.</h4>
      <p> </p>
      <table class="table_full_borders">
        <tr>
          <td class="full">Банк получателя:</td>
          <td class="full">Филиал № 7701 Банка ВТБ (ПАО) г. Москва</td>
          <td class="full">БИК</td>
          <td class="full">044525745</td>
        </tr>
        <tr>
          <td class="full">Получатель:</td>
          <td class="full">ООО «ИНФОСОФТ СЕРВИС»</td>
          <td class="full">Р.сч. №</td>
          <td class="full">40702810600000154181</td>
        </tr>
        <tr>
          <td class="full">ИНН:</td>
          <td class="full">7704360147</td>
          <td class="full">К.сч. №</td>
          <td class="full">30101810345250000745</td>
        </tr>
        <tr>
          <td class="full">КПП:</td>
          <td class="full">773401001</td>
          <td class="full"> </td>
          <td class="full"> </td>
        </tr>
      </table>
      <p> </p>
      <h4 class="bold">Счет на оплату № {{ unique_number }} от {{ issued_at }}</h4>
      <hr/>
      <p>Плательщик: {{ company_forma }}, {{ company_name }}, {{ inn }}, {{ address }}</p>
      <table class="table_full_borders">
        <tr>
          <td class="full">№</td>
          <td class="full">Товары (работы, услуги)</td>
          <td class="full">Кол-во</td>
          <td class="full">Ед.</td>
          <td class="full">Цена</td>
          <td class="full">Сумма</td>
        </tr>
        <tr>
          <td class="full">1</td>
          <td class="full">Оплата за верификацию организации</td>
          <td class="full">1</td>
          <td class="full">шт.</td>
          <td class="full">3000.0</td>
          <td class="full">3000.0</td>
        </tr>
        <tr>
          <td class="full">&nbsp;</td>
          <td class="full">&nbsp;</td>
          <td class="full">&nbsp;</td>
          <td class="full">&nbsp;</td>
          <td class="full">&nbsp;</td>
          <td class="full">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text_align_right">Итого:</td>
          <td class="text_align_right">3000.0</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text_align_right">В том числе НДС:</td>
          <td class="text_align_right">0.00</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text_align_right">Всего к оплате:</td>
          <td class="text_align_right">3000.0</td>
        </tr>
      </table>
      <!-- div.full_width-->
      <!--   table.float_right-->
      <!--     tr-->
      <!--       td.text_align_right Итого:-->
      <!--       td.text_align_right 3000.0-->
      <!--     tr-->
      <!--       td.text_align_right В том числе НДС:-->
      <!--       td.text_align_right 0.00-->
      <!--     tr-->
      <!--       td.text_align_right Всего к оплате:-->
      <!--       td.text_align_right 3000.0-->
      <p>Итого к оплате: три тысячи рублей, ноль копеек, НДС не облагается.</p>
      <p class="bold">Назначение платежа: Оплата за верификацию организации, по счету № {{ unique_number }}, НДС не облагается.</p>
      <hr/>
      <table>
        <tr>
          <td>Генеральный директор:</td>
          <td>_________________________</td>
          <td>_________________________</td>
        </tr>
        <tr>
          <td> </td>
          <td class="textIt">Подпись</td>
          <td class="textIt">Расшифровка подписи</td>
        </tr>
        <tr>
          <td>Главный бухгалтер:</td>
          <td>_________________________</td>
          <td>_________________________</td>
        </tr>
        <tr>
          <td> </td>
          <td class="textIt">Подпись</td>
          <td class="textIt">Расшифровка подписи</td>
        </tr>
      </table>
      <!-- table.table_zero_height-->
      <!--   tr-->
      <!--     td Генеральный директор:-->
      <!--     td.underline &nbsp;-->
      <!--     td.underline &nbsp;-->
      <!--   tr-->
      <!--     td -->
      <!--     td.textIt Подпись-->
      <!--     td.textIt Расшифровка подписи-->
      <!--   tr-->
      <!--     td Главный бухгалтер:-->
      <!--     td.underline &nbsp;-->
      <!--     td.underline &nbsp;-->
      <!--   tr-->
      <!--     td -->
      <!--     td.textIt Подпись-->
      <!--     td.textIt Расшифровка подписи-->
    </div>
  </body>
</html>